<script>
  import { onMount } from "svelte"
  import { Synth } from "./synth.ts"

  export let name

  const ctx = new AudioContext()
  const seconds = 1
  const buffer = ctx.createBuffer(1, 22050 * seconds, 22050)
  const samples = buffer.getChannelData(0)
  const synth = new Synth({ bufferSize: 22050 / 4, sampleRate: 22050 })
  const cHeight = 500
  const cWidth = 500

  let canvas
  $: synthBuffer = synth.getNextSamples()
  $: playbackRate = 1
  $: gain = -3
  $: synthPitch = 440
  $: currentContextTime = ctx.currentTime

  for (let i = 0; i < samples.length; i++) {
    const u = (i / samples.length) * 2
    const n = u * Math.PI * seconds

    const m1 = Math.sin(n * 440 * Math.cos(u ** u))
    const c1 = Math.sin(u * m1 * n * 2)
    const amp = c1 * m1

    samples[i] = amp
  }

  let source = ctx.createBufferSource()
  source.buffer = buffer
  source.loop = true
  $: playing = false
  $: source.playbackRate.value = playbackRate

  const gainNode = ctx.createGain()

  $: gainNode.gain.setValueAtTime(gain, currentContextTime)
  // source.start()

  source.connect(gainNode)
  source.connect(ctx.destination)
  ctx.resume()
  // console.log("source =>", source)

  onMount(() => {
    setInterval(() => {
      currentContextTime = Math.floor(ctx.currentTime * 100) / 100
    }, 1000 / 30)
  })

  const handleClick = () => {
    if (playing) {
      playing = false
      source.stop()
      source = ctx.createBufferSource()
      source.buffer = buffer
      source.loop = true
      source.connect(ctx.destination)
    } else {
      playing = true
      source.start()
    }
  }

  const newSynthBuffer = () => {
    synthBuffer = synth.getNextSamples()

    const ctx = canvas.getContext("2d")
    ctx.fillStyle = "#333"
    ctx.fillRect(0, 0, cWidth, cHeight)

    // start line
    ctx.strokeStyle = "#fff"
    ctx.lineWidth = 4

    // ctx.fillRect(cWidth / 4, cHeight / 4, cWidth / 2, cHeight / 2)

    ctx.beginPath()
    ctx.moveTo(0, cHeight / 2)

    for (let i = 0; i < synthBuffer.length; i++) {
      const u = i / synthBuffer.length
      const v = synthBuffer[i] / 2 + 0.5
      const y = v * cHeight

      const x = u * cWidth
      ctx.lineTo(x, y)
    }
    ctx.stroke()
    // end line
  }

  let showTodo = false
</script>

<main>
  <h1>Web Audio Synth!</h1>
  <p>synth</p>
  <button on:click={() => (showTodo = !showTodo)}>TODO</button>
  {#if showTodo}
    <div>
      <p>- 2 op FM Synth</p>
      <p>- possible load waveform</p>
      <p>- Waveform slider</p>
      <p>- save preset with querystring</p>
      <p>- Allow vr user to play this synth!</p>
    </div>
  {/if}
  <p>{playing ? 'Playing!' : 'Stopped!'}</p>
  <p>Current Time: {currentContextTime}</p>
  <div class="controls">
    <div class="control">
      <label>Playback Rate: {playbackRate}</label>
      <input
        type="range"
        min="0"
        max="5"
        step="0.01"
        bind:value={playbackRate} />
    </div>
    <div class="control">
      <label>Main Pitch: {synthPitch}hz</label>
      <input
        type="range"
        min="60"
        max="440*3"
        step="1"
        bind:value={synthPitch} />
    </div>
    <div class="control">
      <label>gain: {gain}</label>
      <input type="range" min="-3" max="+3" step="0.1" bind:value={gain} />
    </div>
  </div>
  <button on:click={handleClick}>Start / Stop</button>
  <canvas bind:this={canvas} id="waveform" width={cWidth} height={cHeight} />
  <!-- <p>{synthBuffer}</p> -->
  <button on:click={newSynthBuffer}>Get New Buffer</button>
</main>

<style src="./app.scss">

</style>
