body,
html {
  background: #171520;
}

main {
  text-align: center;
  padding: 1em;
  max-width: 240px;
  margin: 0 auto;
}

h1 {
  color: #ff3e00;
  text-transform: uppercase;
  font-size: 4em;
  font-weight: 100;
}

@media (min-width: 240px) {
  main {
    max-width: none;
  }
}

.controls {
  width: 100%;
}

.control {
  padding: 0.7rem;
  border: 1px solid #ccc;
  margin: 0.5rem auto;
  border-radius: 1rem;
  justify-content: space-between;
  display: flex;

  label {
  }
}
